# Node.js
node_modules/

# Java
*.class
*.jar
*.war

# Gradle
.gradle/
build/

# IDE-specific files
.idea/
.vscode/
.prettierrc
.eslintrc

# Docker
*.env

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db

screenshots/
application.properties
.firebase/